# Python Programming Exercises - Day 1
## Basic Python Concepts for Data Science Students

### Variables and Data Types (Questions 1-20)
1. Create a variable `age` and assign it your age. Print the type of the variable.
2. Create three variables `x`, `y`, and `z` with values 10, 20.5, and "Hello" respectively. Print their types.
3. Convert the float value 45.6 to an integer and store it in a variable. What's the resulting value?
4. Create a variable with a complex number (3 + 4j). Print its real and imaginary parts.
5. Declare a boolean variable `is_student` and set it to True. Print its opposite value using the not operator.
6. Create a variable with your name and convert all characters to uppercase.
7. Calculate the length of your name string using the appropriate function.
8. Create two string variables containing your first and last name. Concatenate them with a space in between.
9. Create a variable with value 3.14159. Round it to 2 decimal places.
10. Convert the integer 42 to a string and concatenate it with "is the answer".
11. Create a variable containing the string "25" and convert it to an integer.
12. Demonstrate the difference between '7' * 3 and 7 * 3.
13. Create a variable `temperature` with value 24.5 and convert it to an integer using both int() and round().
14. Create a string with multiple words and split it into a list.
15. Join a list of words ['Python', 'is', 'awesome'] into a single string using spaces.
16. Create a string variable and print its third character.
17. Create a string variable and print its last character using negative indexing.
18. Create a variable storing your birth year and calculate your age using the current year.
19. Create a multi-line string using triple quotes and print it.
20. Demonstrate the use of the 'in' operator to check if a substring exists in a string.

### Basic Operations (Questions 21-40)
21. Write an expression that adds 5 and 3, multiplies the result by 2, and subtracts 4.
22. Calculate the remainder when 17 is divided by 3.
23. Use floor division to divide 17 by 3.
24. Calculate 2 raised to the power of 5 using both ** and pow().
25. Write an expression that uses parentheses to demonstrate operator precedence.
26. Calculate the absolute value of -42.
27. Find the maximum value between three numbers using max().
28. Find the minimum value between three numbers using min().
29. Round 3.75 to the nearest integer using round().
30. Calculate the square root of 16 using pow() with a fractional exponent.
31. Use comparison operators to check if 7 is greater than 5 and less than 10.
32. Compare two strings lexicographically using comparison operators.
33. Demonstrate the use of += operator with both numbers and strings.
34. Show the difference between = and == operators with examples.
35. Use the modulo operator to check if a number is even or odd.
36. Calculate the perimeter of a rectangle given its length and width.
37. Calculate the area of a circle given its radius (use 3.14159 for Ï€).
38. Convert temperature from Celsius to Fahrenheit using the formula (C * 9/5) + 32.
39. Calculate the average of three numbers.
40. Demonstrate the use of round() with negative numbers for decimal places.

### String Operations (Questions 41-60)
41. Create a string and print its reverse using slicing.
42. Extract every third character from a string using slicing.
43. Remove whitespace from both ends of a string using appropriate method.
44. Replace all occurrences of 'a' with '@' in a string.
45. Check if a string starts with a specific substring.
46. Check if a string ends with a specific substring.
47. Convert a string to title case (first letter of each word capitalized).
48. Count the number of occurrences of a letter in a string.
49. Find the position of a substring in a string using find().
50. Find the position of a substring in a string using index().
51. Compare the behavior of find() and index() when substring is not found.
52. Create a string with numbers and letters and extract only the digits.
53. Create a string with numbers and letters and extract only the letters.
54. Convert a string to a list of characters.
55. Center a string in a 20-character space with '*' as padding.
56. Right-align a string in a 20-character space with '-' as padding.
57. Left-align a string in a 20-character space with '-' as padding.
58. Check if a string contains only alphabetic characters.
59. Check if a string contains only numeric characters.
60. Convert a string to a list of words and back to a string.

### List Operations (Questions 61-80)
61. Create a list of numbers and find its length.
62. Access the first, last, and middle elements of a list.
63. Add an element to the end of a list using append().
64. Insert an element at a specific position in a list.
65. Remove the last element from a list using pop().
66. Remove a specific element from a list using remove().
67. Sort a list of numbers in ascending order.
68. Sort a list of numbers in descending order.
69. Create a list of strings and sort it alphabetically.
70. Create a list of strings and sort it by length.
71. Reverse a list using reverse() method.
72. Create a shallow copy of a list.
73. Create a deep copy of a nested list.
74. Find the index of an element in a list.
75. Count the occurrences of an element in a list.
76. Concatenate two lists using both + operator and extend() method.
77. Create a list of numbers and calculate their sum.
78. Create a list of numbers and calculate their average.
79. Remove duplicates from a list while preserving order.
80. Check if two lists have at least one element in common.

### Basic Control Flow (Questions 81-100)
81. Write an if statement to check if a number is positive.
82. Use if-elif-else to classify a number as positive, negative, or zero.
83. Check if a year is a leap year.
84. Use nested if statements to check if a number is both even and positive.
85. Write a program to find the maximum of three numbers using if statements.
86. Create a simple calculator that performs basic operations based on user input.
87. Check if a character is a vowel or consonant.
88. Determine the grade based on a score (A, B, C, D, F).
89. Check if a triangle is equilateral, isosceles, or scalene based on sides.
90. Write a program to check if a number is divisible by both 2 and 3.
91. Use a while loop to print numbers from 1 to 5.
92. Use a for loop to print numbers from 1 to 5.
93. Print the multiplication table of a number using a loop.
94. Calculate the factorial of a number using a loop.
95. Print even numbers from 1 to 10 using a loop.
96. Print odd numbers from 1 to 10 using a loop.
97. Calculate the sum of numbers from 1 to n using a loop.
98. Print the Fibonacci sequence up to n terms using a loop.
99. Use a loop to find all factors of a number.
100. Print a pattern of asterisks (right-angled triangle) using nested loops.

### Note to Students:
- Attempt these questions in order as they build upon each other
- Write clean, well-commented code
- Test your solutions with different inputs
- Try to solve each problem independently before looking at solutions
- Practice proper naming conventions and code formatting

# Variables and Data Types

In [53]:
age = 26
print(type(age))

<class 'int'>

In [54]:
x = 10
y = 20.5
z = "Hello"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [55]:
float_value = 45.6 
integer_value = int(float_value)
print(integer_value)

45

In [56]:
a =(3 + 4j)
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
3.0
4.0

In [57]:
is_student = True 
print(not is_student)

False

In [58]:
name = "palak"
uppercase= name.upper()
print(uppercase)

PALAK

In [59]:
print(len(name))

5

In [60]:
surname = "Gangwani"
full_name = name + " " + surname
print(full_name)

palak Gangwani

In [61]:
a = 3.14159
round(a,2)

3.14

In [62]:
integer = 42
string = str(integer)
print(string + " is the answer")

42 is the answer

In [63]:
string = '25'
integer = int(string)
print(type(integer))

<class 'int'>

In [64]:
a = '7'
b = 7
c = 3
print( a * c)
print(b * c)

777
21

In [65]:
temp = 24.5
integer = int(temp)
print(integer)
round(temp)

24

24

In [66]:
sentence = "This will split a sentence to words"
sentence.split(" ")

['This', 'will', 'split', 'a', 'sentence', 'to', 'words']

In [67]:
words = ['Python', 'is', 'awesome']
sentence = " ".join(words)  # Use a space as the separator
print(sentence)

Python is awesome

In [68]:
name = "Palak"
print(name[2])

l

In [69]:
print(name[-1])

k

In [70]:
birth_year = 1998
current_age = 2025 - birth_year
print(current_age)

27

In [71]:
# Multi-line string using triple quotes
multi_line_string = """This is a multi-line string.
It spans multiple lines.
You can include line breaks directly."""
print(multi_line_string)

This is a multi-line string.
It spans multiple lines.
You can include line breaks directly.

In [72]:
'a' in full_name

True

# Basic

In [73]:
(5 + 3)*2 - 4

12

In [74]:
17%3

2

In [75]:
17//3

5

In [76]:
2**5

32

In [77]:
pow(2,5)

32

In [78]:
# The precedence of operators (from highest to lowest) is: 
'''Parentheses ()
Exponentiation **
Multiplication *, Division /, Floor division //, Modulus %
Addition +, Subtraction -'''

'Parentheses ()\nExponentiation **\nMultiplication *, Division /, Floor division //, Modulus %\nAddition +, Subtraction -'

In [79]:
abs(-42)

42

In [80]:
max(20,50,10)

50

In [81]:
min(20,50,10)

10

In [82]:
round(3.75)

4

In [83]:
number = 16
square_root = pow(number, 0.5)
square_root

4.0

In [84]:
if 7 > 5 and 7 < 10:
    print ('True') 
else:
    print ('False')

True

In [85]:
print(ord('a'))  
print(ord('b'))  

# Compare two strings lexicographically
string1 = "a"
string2 = "b"

# Using comparison operators
print(string1 < string2)   
print(string1 > string2)   
print(string1 == string2)  
print(string1 != string2)  
print(string1 <= string2) 
print(string1 >= string2)

97
98
True
False
False
True
True
False

In [86]:
a = 4
a += 2
print(a)

6

In [87]:
name = "palak"
name += " new"
print(name)

palak new

In [88]:
a = 5 
a == 6

False

In [89]:
num = 5
if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [90]:
length = 50
width = 20
perimeter = 2*(length + width)
perimeter

140

In [91]:
radius = 4
area = 3.14159 * pow(radius,2)
area

50.26544

In [92]:
C = 4
F = (C * 9/5) + 32
F

39.2

In [93]:
data = [10, 20, 30, 40, 50]
mean_value = sum(data) / len(data)
print(f"Mean: {mean_value}")

Mean: 30.0

In [94]:
round(-30.456)

-30

# String

In [95]:
string = "abcdefghijkl"
string[:0:-1]

'lkjihgfedcb'

In [96]:
string[2::3]

'cfil'

In [97]:
# Example string with whitespace
my_string = "   Hello, World!   "

# Removing whitespace from both ends
trimmed_string = my_string.strip()

print(trimmed_string)

Hello, World!

In [98]:
name = "palak"
name.replace('a','@')

'p@l@k'

In [99]:
if name[0]=='p':
    print('True')

True

In [100]:
if name[-1]=='k':
    print('True')

True

In [101]:
# Example string
my_string = "hello, world! welcome to python programming."

# Converting to title case
title_case_string = my_string.title()

print(title_case_string)

Hello, World! Welcome To Python Programming.

In [102]:
name.count('a')

2

In [103]:
name.find('l')

2

In [104]:
name.index('p')

0

In [105]:
name.find('z')

-1

In [106]:
name.index('z')

ValueError: substring not found

In [107]:
my_string = "abc123def456ghi789"

# Extracting only digits
digits_only = ''.join(char for char in my_string if char.isdigit())

print(digits_only)

123456789

In [108]:
# Example string
my_string = "abc123def456ghi789"

# Extracting only digits
string_only = ''.join(char for char in my_string if char.isalpha())

print(string_only)

abcdefghi

In [109]:
list(my_string)

['a',
 'b',
 'c',
 '1',
 '2',
 '3',
 'd',
 'e',
 'f',
 '4',
 '5',
 '6',
 'g',
 'h',
 'i',
 '7',
 '8',
 '9']

In [110]:
# Example string
my_string = "Hello"

# Center the string
centered_string = my_string.center(20, '*')

print(centered_string)

*******Hello********

In [111]:
# Example string
my_string = "Hello"

# Center the string
right_string = my_string.rjust(20, '-')

print(right_string)

---------------Hello

In [112]:
# Example string
my_string = "Hello"

# Center the string
left_string = my_string.ljust(20, '-')

print(left_string)

Hello---------------

In [113]:
# Example strings
string1 = "HelloWorld"
string2 = "Hello123"

# Check if the strings contain only alphabetic characters
print(string1.isalpha())  
print(string2.isalpha())

True
False

In [114]:
string3 = '234'
print(string3.isdigit())  
print(string2.isdigit())

True
False

In [115]:
# Original string
my_string = "Hello, how are you?"

# Convert string to a list of words
words_list = my_string.split()
print(words_list)

['Hello,', 'how', 'are', 'you?']

In [116]:
# Convert the list of words back to a string
reconstructed_string = ' '.join(words_list)
print(reconstructed_string)

Hello, how are you?

# List

In [117]:
lst = [1,2,3,4,5,6,7,8,9,10]
len(lst)

10

In [118]:
lst[0]

1

In [119]:
lst[-1]

10

In [120]:
lst[5]

6

In [121]:
lst.append(11)

In [122]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [123]:
lst.insert(0,0)

In [124]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [125]:
lst.pop(11)

11

In [126]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
lst.remove(0)

In [128]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
lst.sort()

In [130]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [131]:
lst.sort(reverse=True)

In [132]:
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [133]:
lst_string = ['a','b','c','d','e']

In [134]:
lst_string.sort(reverse=True)

In [135]:
lst_string

['e', 'd', 'c', 'b', 'a']

In [136]:
lst_string_1 = ['palak','prabodh','shruti','sakshi','rohit']

In [137]:
lst_string_1.sort()

In [138]:
lst_string_1

['palak', 'prabodh', 'rohit', 'sakshi', 'shruti']

In [139]:
lst_string_alpha = ['a','b','c','d','e','f','g','h']

In [140]:
lst_string_alpha.reverse()

In [141]:
lst_string_alpha

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [142]:
my_list = [1, 2, 3, 4]
shallow_copy = list(my_list)
print(shallow_copy)

[1, 2, 3, 4]

In [143]:
import copy

my_list = [[1, 2], [3, 4], [5, 6]]
deep_copy = copy.deepcopy(my_list)

# Modify the deep copy
deep_copy[0][0] = 10

# Print both lists
print("Original list:", my_list)
print("Deep copy:", deep_copy)

Original list: [[1, 2], [3, 4], [5, 6]]
Deep copy: [[10, 2], [3, 4], [5, 6]]

In [144]:
lst_string.index('c')

2

In [145]:
# list.count(element)
my_list = [1, 2, 3, 2, 2, 4]
count_of_2 = my_list.count(2)
print(count_of_2)

3

In [146]:
combined_lst = lst_string + lst_string_alpha

In [147]:
combined_lst

['e', 'd', 'c', 'b', 'a', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [148]:
lst_string.extend(lst_string_alpha)

In [149]:
lst_string

['e', 'd', 'c', 'b', 'a', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [150]:
my_list = [1, 2, 3, 4, 5]
total_sum = sum(my_list)
print(total_sum)

15

In [151]:
my_list = [1, 2, 3, 4, 5]
average = sum(my_list) / len(my_list)
print(average)

3.0

In [152]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
seen = set()

for item in my_list:
    if item not in seen:
        unique_list.append(item)
        seen.add(item)

print(unique_list)

[1, 2, 3, 4, 5]

In [153]:
list1 = [1, 2, 3, 4]
list2 = [3, 5, 6, 7]

common_elements = set(list1) & set(list2)

if common_elements:
    print("The lists have at least one element in common:", common_elements)
else:
    print("The lists have no common elements.")

The lists have at least one element in common: {3}

# Basic Control Flow

In [154]:
num = -3
if num < 0:
    print("Negative")
else:
    print("Positive")

Negative

In [155]:
num = 0
if num == 0:
    print("Zero")
elif num > 0:
    print("Positive")
else:
    print("Negative")

Zero

In [156]:
year = 2025
if year % 4 == 0:
    print("Leap year")
else:
    print("Not a leap year")

Not a leap year

In [157]:
num = 6
if num > 0:
    if num % 2 ==0:
        print('Zero and positive')
else:
    print('Not zero and positive')

Zero and positive

In [177]:
num1 =  int(input("Enter number : ")) 
num2 =  int(input("Enter number : ")) 
num3 =  int(input("Enter number : ")) 
if num1 > num2 and num1 > num3:
    print(f'{num1} is maximum')
elif num1 < num2 and num2 > num3:
    print(f'{num2} is maximum')
else:
    print(f'{num3} is maximum')

Enter number :  3
Enter number :  4
Enter number :  5

5 is maximum

In [160]:
num1 = int(input("Enter number : ")) 
num2 = int(input("Enter number : ")) 
operation = input("Enter operation: ")
if operation == 'ADD':
    result = num1 + num2 
elif operation == 'SUBTRACT':
    result = num1 - num2
elif operation == 'MULTIPLY':
    result = num1 * num2
elif operation == 'SUM':
    result = num1 / num2
print(result)

Enter number :  3
Enter number :  5
Enter operation:  ADD

8

In [161]:
vowels = ['a','e','i','o','u']
char = input("Enter your alphabet: ")
if char.lower() in vowels:
    print("Vowel")
else:
    print("Consonant")

Enter your alphabet:  r

Consonant

In [162]:
score = int(input("Enter number : ")) 
if score >= 80:
    print('Grade: A')
elif score >= 60 and score < 80:
    print('Grade: B')
elif score >= 40 and score < 60:
    print('Grade: C')
elif score >= 20 and score < 40:
    print('Grade: D')
elif score >= 0 and score < 20:
    print('Grade: F')

Enter number :  60

Grade: B

In [163]:
side1 = int(input("Enter first side : "))
side2 = int(input("Enter second side : "))
side3 = int(input("Enter third side : "))
if side1 == side2 and side2 == side3:
    print('Triangle is equilateral')
elif side1 == side2 or side2 == side3 or side3 == side1:
    print('Triangle is isosceles')
else:
    print('Triangle is scalene')

Enter first side :  4
Enter second side :  5
Enter third side :  4

Triangle is isosceles

In [164]:
num1 = int(input("Enter number : "))
if num1 % 2 == 0 and num1 % 3 ==0:
    print('Yes')
else:
    print('No')

Enter number :  6

Yes

In [165]:
i = 1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [166]:
num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}")
for i in range(1, 11):  # From 1 to 10
    print(f"{num} x {i} = {num * i}")

Enter a number:  6

Multiplication Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [167]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

Enter a number:  3

The factorial of 3 is 6.

In [168]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [169]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [171]:
n = int(input("Enter a number: "))
total = 0
for i in range(1,n+1):
    total = total + i
print(f"The total of {n} is {total}.")

Enter a number:  4

The total of 4 is 10.

In [172]:
# Get number of terms from the user
n = int(input("Enter the number of terms: "))

# First two terms
a, b = 0, 1

if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print("Fibonacci sequence up to 1 term:")
    print(a)
else:
    print(f"Fibonacci sequence up to {n} terms:")
    for i in range(n):
        print(a, end=' ')
        a, b = b, a + b

Enter the number of terms:  5

Fibonacci sequence up to 5 terms:
0 1 1 2 3

In [173]:
num = int(input("Enter a number: "))

print(f"Factors of {num} are:")
for i in range(1, num + 1):
    if num % i == 0:
        print(i)

Enter a number:  9

Factors of 9 are:
1
3
9

In [174]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows + 1):       # Outer loop for rows
    for j in range(1, i + 1):      # Inner loop for stars
        print("*", end=" ")
    print()  # Moves to the next line after each row

Enter the number of rows:  8

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *