# Python Programming Exercises - Day 1
## Basic Python Concepts for Data Science Students

### Variables and Data Types (Questions 1-20)
1. Create a variable `age` and assign it your age. Print the type of the variable.
2. Create three variables `x`, `y`, and `z` with values 10, 20.5, and "Hello" respectively. Print their types.
3. Convert the float value 45.6 to an integer and store it in a variable. What's the resulting value?
4. Create a variable with a complex number (3 + 4j). Print its real and imaginary parts.
5. Declare a boolean variable `is_student` and set it to True. Print its opposite value using the not operator.
6. Create a variable with your name and convert all characters to uppercase.
7. Calculate the length of your name string using the appropriate function.
8. Create two string variables containing your first and last name. Concatenate them with a space in between.
9. Create a variable with value 3.14159. Round it to 2 decimal places.
10. Convert the integer 42 to a string and concatenate it with "is the answer".
11. Create a variable containing the string "25" and convert it to an integer.
12. Demonstrate the difference between '7' * 3 and 7 * 3.
13. Create a variable `temperature` with value 24.5 and convert it to an integer using both int() and round().
14. Create a string with multiple words and split it into a list.
15. Join a list of words ['Python', 'is', 'awesome'] into a single string using spaces.
16. Create a string variable and print its third character.
17. Create a string variable and print its last character using negative indexing.
18. Create a variable storing your birth year and calculate your age using the current year.
19. Create a multi-line string using triple quotes and print it.
20. Demonstrate the use of the 'in' operator to check if a substring exists in a string.

### Basic Operations (Questions 21-40)
21. Write an expression that adds 5 and 3, multiplies the result by 2, and subtracts 4.
22. Calculate the remainder when 17 is divided by 3.
23. Use floor division to divide 17 by 3.
24. Calculate 2 raised to the power of 5 using both ** and pow().
25. Write an expression that uses parentheses to demonstrate operator precedence.
26. Calculate the absolute value of -42.
27. Find the maximum value between three numbers using max().
28. Find the minimum value between three numbers using min().
29. Round 3.75 to the nearest integer using round().
30. Calculate the square root of 16 using pow() with a fractional exponent.
31. Use comparison operators to check if 7 is greater than 5 and less than 10.
32. Compare two strings lexicographically using comparison operators.
33. Demonstrate the use of += operator with both numbers and strings.
34. Show the difference between = and == operators with examples.
35. Use the modulo operator to check if a number is even or odd.
36. Calculate the perimeter of a rectangle given its length and width.
37. Calculate the area of a circle given its radius (use 3.14159 for Ï€).
38. Convert temperature from Celsius to Fahrenheit using the formula (C * 9/5) + 32.
39. Calculate the average of three numbers.
40. Demonstrate the use of round() with negative numbers for decimal places.

### String Operations (Questions 41-60)
41. Create a string and print its reverse using slicing.
42. Extract every third character from a string using slicing.
43. Remove whitespace from both ends of a string using appropriate method.
44. Replace all occurrences of 'a' with '@' in a string.
45. Check if a string starts with a specific substring.
46. Check if a string ends with a specific substring.
47. Convert a string to title case (first letter of each word capitalized).
48. Count the number of occurrences of a letter in a string.
49. Find the position of a substring in a string using find().
50. Find the position of a substring in a string using index().
51. Compare the behavior of find() and index() when substring is not found.
52. Create a string with numbers and letters and extract only the digits.
53. Create a string with numbers and letters and extract only the letters.
54. Convert a string to a list of characters.
55. Center a string in a 20-character space with '*' as padding.
56. Right-align a string in a 20-character space with '-' as padding.
57. Left-align a string in a 20-character space with '-' as padding.
58. Check if a string contains only alphabetic characters.
59. Check if a string contains only numeric characters.
60. Convert a string to a list of words and back to a string.

### List Operations (Questions 61-80)
61. Create a list of numbers and find its length.
62. Access the first, last, and middle elements of a list.
63. Add an element to the end of a list using append().
64. Insert an element at a specific position in a list.
65. Remove the last element from a list using pop().
66. Remove a specific element from a list using remove().
67. Sort a list of numbers in ascending order.
68. Sort a list of numbers in descending order.
69. Create a list of strings and sort it alphabetically.
70. Create a list of strings and sort it by length.
71. Reverse a list using reverse() method.
72. Create a shallow copy of a list.
73. Create a deep copy of a nested list.
74. Find the index of an element in a list.
75. Count the occurrences of an element in a list.
76. Concatenate two lists using both + operator and extend() method.
77. Create a list of numbers and calculate their sum.
78. Create a list of numbers and calculate their average.
79. Remove duplicates from a list while preserving order.
80. Check if two lists have at least one element in common.

### Basic Control Flow (Questions 81-100)
81. Write an if statement to check if a number is positive.
82. Use if-elif-else to classify a number as positive, negative, or zero.
83. Check if a year is a leap year.
84. Use nested if statements to check if a number is both even and positive.
85. Write a program to find the maximum of three numbers using if statements.
86. Create a simple calculator that performs basic operations based on user input.
87. Check if a character is a vowel or consonant.
88. Determine the grade based on a score (A, B, C, D, F).
89. Check if a triangle is equilateral, isosceles, or scalene based on sides.
90. Write a program to check if a number is divisible by both 2 and 3.
91. Use a while loop to print numbers from 1 to 5.
92. Use a for loop to print numbers from 1 to 5.
93. Print the multiplication table of a number using a loop.
94. Calculate the factorial of a number using a loop.
95. Print even numbers from 1 to 10 using a loop.
96. Print odd numbers from 1 to 10 using a loop.
97. Calculate the sum of numbers from 1 to n using a loop.
98. Print the Fibonacci sequence up to n terms using a loop.
99. Use a loop to find all factors of a number.
100. Print a pattern of asterisks (right-angled triangle) using nested loops.

### Note to Students:
- Attempt these questions in order as they build upon each other
- Write clean, well-commented code
- Test your solutions with different inputs
- Try to solve each problem independently before looking at solutions
- Practice proper naming conventions and code formatting

# Variables and Data Types

In [1]:
age = 26
print(type(age))

<class 'int'>

In [2]:
x = 10
y = 20.5
z = "Hello"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [21]:
float_value = 45.6 
integer_value = int(float_value)
print(integer_value)

45

In [8]:
a =(3 + 4j)
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
3.0
4.0

In [10]:
is_student = True 
print(not is_student)

False

In [15]:
name = "palak"
uppercase= name.upper()
print(uppercase)

PALAK

In [16]:
print(len(name))

5

In [18]:
surname = "Gangwani"
full_name = name + " " + surname
print(full_name)

palak Gangwani

In [19]:
a = 3.14159
round(a,2)

3.14

In [22]:
integer = 42
string = str(integer)
print(string + " is the answer")

42 is the answer

In [24]:
string = '25'
integer = int(string)
print(type(integer))

<class 'int'>

In [25]:
a = '7'
b = 7
c = 3
print( a * c)
print(b * c)

777
21

In [27]:
temp = 24.5
integer = int(temp)
print(integer)
round(temp)

24

24

In [32]:
sentence = "This will split a sentence to words"
sentence.split(" ")

['This', 'will', 'split', 'a', 'sentence', 'to', 'words']

In [33]:
words = ['Python', 'is', 'awesome']
sentence = " ".join(words)  # Use a space as the separator
print(sentence)

Python is awesome

In [38]:
name = "Palak"
print(name[2])

l

In [39]:
print(name[-1])

k

In [40]:
birth_year = 1998
current_age = 2025 - birth_year
print(current_age)

27

In [41]:
# Multi-line string using triple quotes
multi_line_string = """This is a multi-line string.
It spans multiple lines.
You can include line breaks directly."""
print(multi_line_string)

This is a multi-line string.
It spans multiple lines.
You can include line breaks directly.

In [43]:
'a' in full_name

True

# Basic

In [44]:
(5 + 3)*2 - 4

12

In [46]:
17%3

2

In [49]:
17//3

5

In [50]:
2**5

32

In [53]:
pow(2,5)

32

In [ ]:
# The precedence of operators (from highest to lowest) is: 
'''Parentheses ()
Exponentiation **
Multiplication *, Division /, Floor division //, Modulus %
Addition +, Subtraction -'''

In [1]:
abs(-42)

42

In [2]:
max(20,50,10)

50

In [3]:
min(20,50,10)

10

In [4]:
round(3.75)

4

In [6]:
number = 16
square_root = pow(number, 0.5)
square_root

4.0

In [8]:
if 7 > 5 and 7 < 10:
    print ('True') 
else:
    print ('False')

True

In [9]:
print(ord('a'))  
print(ord('b'))  

# Compare two strings lexicographically
string1 = "a"
string2 = "b"

# Using comparison operators
print(string1 < string2)   
print(string1 > string2)   
print(string1 == string2)  
print(string1 != string2)  
print(string1 <= string2) 
print(string1 >= string2)

97
98
True
False
False
True
True
False

In [10]:
a = 4
a += 2
print(a)

6

In [13]:
name = "palak"
name += " new"
print(name)

palak new

In [15]:
a = 5 
a == 6

False

In [16]:
num = 5
if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [18]:
length = 50
width = 20
perimeter = 2*(length + width)
perimeter

140

In [19]:
radius = 4
area = 3.14159 * pow(radius,2)
area

50.26544

In [20]:
C = 4
F = (C * 9/5) + 32
F

39.2

In [21]:
data = [10, 20, 30, 40, 50]
mean_value = sum(data) / len(data)
print(f"Mean: {mean_value}")

Mean: 30.0

In [22]:
round(-30.456)

-30